{% extends "./base.html" %}


{% block title %}<title>友链 | 韦艳莹的博客</title>{% endblock %}

{% block page_content %}
    <div class="pageDiv linkPageDiv">
        <div class="pageNavigation breadcrumb">
            <li><a href="{{ url_for('.home') }}"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>
            <li class="active">友链</li>
            {% if current_user.is_authenticated %}
            <li class="active pull-right"></li>
            <li class="pull-right"><a href="{{ url_for('.new_link') }}">加友链</a></li>
            {% else %}
            <li class="active"></li>
            {% endif %}
        </div>
        <div class="linkAllItem">
			{% for link in links %}
				<span class="linkItem"><a href="{{ link.link }}">{{ link.name }}</a></span>
			{% endfor %}
        </div>
    </div>
{% endblock %}






